@charset "UTF-8";

.icon-cup:before { content: '\0e83'; } /* '຃' */
.icon-link-2:before { content: '\2691'; } /* '⚑' */
.icon-attach-1:before { content: '\2712'; } /* '✒' */
.icon-tags:before { content: '\2753'; } /* '❓' */
.icon-mail:before { content: '\275e'; } /* '❞' */
.icon-leaf-1:before { content: '\27a6'; } /* '➦' */
.icon-leaf:before { content: '\e048'; } /* '' */
.icon-tag-1:before { content: '\e071'; } /* '' */
.icon-attach:before { content: '\e718'; } /* '' */
.icon-flag:before { content: '\e720'; } /* '' */
.icon-tag:before { content: '\e77b'; } /* '' */
.icon-trash-1:before { content: '\e79b'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-vector-pencil:before { content: '\e801'; } /* '' */
.icon-arrows-ccw:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-clipboard:before { content: '\e805'; } /* '' */
.icon-link-1:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-cancel-squared:before { content: '\e809'; } /* '' */
.icon-pin:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-arrows-cw:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e80d'; } /* '' */
.icon-edit-alt:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-heart-empty:before { content: '\e812'; } /* '' */
.icon-ok-circled:before { content: '\e813'; } /* '' */
.icon-plus-circled:before { content: '\e814'; } /* '' */
.icon-minus-circled:before { content: '\e815'; } /* '' */
.icon-book:before { content: '\e816'; } /* '' */
.icon-tint:before { content: '\e817'; } /* '' */
.icon-book-1:before { content: '\e818'; } /* '' */
.icon-level-down:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-eye:before { content: '\e81b'; } /* '' */
.icon-pencil-alt:before { content: '\e81c'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e81d'; } /* '' */
.icon-hash:before { content: '\e81e'; } /* '' */
.icon-clock-1:before { content: '\e81f'; } /* '' */
.icon-bookmark:before { content: '\e820'; } /* '' */
.icon-undo:before { content: '\e821'; } /* '' */
.icon-reply:before { content: '\e822'; } /* '' */
.icon-bold:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-italic:before { content: '\e825'; } /* '' */
.icon-help:before { content: '\e826'; } /* '' */
.icon-chat:before { content: '\e827'; } /* '' */
.icon-feather:before { content: '\e828'; } /* '' */
.icon-quote:before { content: '\e829'; } /* '' */
.icon-forward:before { content: '\e82a'; } /* '' */
.icon-chart-bar:before { content: '\e82b'; } /* '' */
.icon-ok-outline:before { content: '\e82c'; } /* '' */
.icon-flow-split:before { content: '\e82d'; } /* '' */
.icon-flag-1:before { content: '\e82e'; } /* '' */
.icon-comment-1:before { content: '\e82f'; } /* '' */
.icon-back:before { content: '\e830'; } /* '' */
.icon-info:before { content: '\e831'; } /* '' */
.icon-paper-plane:before { content: '\e832'; } /* '' */
.icon-resize-horizontal:before { content: '\e833'; } /* '' */
.icon-login:before { content: '\e834'; } /* '' */
.icon-book-2:before { content: '\e835'; } /* '' */
.icon-book-open:before { content: '\e836'; } /* '' */
.icon-book-3:before { content: '\e837'; } /* '' */
.icon-logout:before { content: '\e838'; } /* '' */
.icon-spin4:before { content: '\e839'; } /* '' */
.icon-book-alt:before { content: '\e83a'; } /* '' */
.icon-bookmark-1:before { content: '\e83b'; } /* '' */
.icon-book-open-1:before { content: '\e83c'; } /* '' */
.icon-bookmarks:before { content: '\e83d'; } /* '' */
.icon-bookmark-2:before { content: '\e83e'; } /* '' */
.icon-spin6:before { content: '\e83f'; } /* '' */
.icon-spin5:before { content: '\e840'; } /* '' */
.icon-moon:before { content: '\e841'; } /* '' */
.icon-sun:before { content: '\e842'; } /* '' */
.icon-pinboard:before { content: '\e843'; } /* '' */
.icon-stackoverflow:before { content: '\e844'; } /* '' */
.icon-font:before { content: '\e845'; } /* '' */
.icon-code:before { content: '\e846'; } /* '' */
.icon-popup:before { content: '\e847'; } /* '' */
.icon-rocket:before { content: '\e848'; } /* '' */
.icon-eye-off:before { content: '\e849'; } /* '' */
.icon-eye-1:before { content: '\e84a'; } /* '' */
.icon-key:before { content: '\e84b'; } /* '' */
.icon-key-1:before { content: '\e84c'; } /* '' */
.icon-key-2:before { content: '\e84d'; } /* '' */
.icon-up-dir:before { content: '\e84e'; } /* '' */
.icon-chart-line:before { content: '\e84f'; } /* '' */
.icon-chart-pie:before { content: '\e850'; } /* '' */
.icon-chart:before { content: '\e851'; } /* '' */
.icon-sun-inv:before { content: '\e852'; } /* '' */
.icon-moon-inv:before { content: '\e853'; } /* '' */
.icon-compass:before { content: '\e854'; } /* '' */
.icon-wrench:before { content: '\e855'; } /* '' */
.icon-clock-2:before { content: '\e856'; } /* '' */
.icon-bullhorn:before { content: '\e857'; } /* '' */
.icon-tag-2:before { content: '\e858'; } /* '' */
.icon-pin-1:before { content: '\e859'; } /* '' */
.icon-code-2:before { content: '\e85a'; } /* '' */
.icon-eye-3:before { content: '\e85b'; } /* '' */
.icon-adjust:before { content: '\e85c'; } /* '' */
.icon-lamp:before { content: '\e85d'; } /* '' */
.icon-left-dir:before { content: '\e85e'; } /* '' */
.icon-right-dir:before { content: '\e85f'; } /* '' */
.icon-home:before { content: '\e860'; } /* '' */
.icon-home-1:before { content: '\e861'; } /* '' */
.icon-home-2:before { content: '\e862'; } /* '' */
.icon-download:before { content: '\e863'; } /* '' */
.icon-upload:before { content: '\e864'; } /* '' */
.icon-folder:before { content: '\e865'; } /* '' */
.icon-folder-open:before { content: '\e866'; } /* '' */
.icon-upload-1:before { content: '\e867'; } /* '' */
.icon-user:before { content: '\e868'; } /* '' */
.icon-upload-2:before { content: '\f02f'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-eye-2:before { content: '\f082'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-code-1:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-rocket-1:before { content: '\f135'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-paper-plane-1:before { content: '\f1d8'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-gwallet:before { content: '\f1ee'; } /* '' */
.icon-trash-2:before { content: '\f1f8'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-lock-1:before { content: '\f512'; } /* '' */
.icon-lock-open-1:before { content: '\f513'; } /* '' */
.icon-resize-horizontal-1:before { content: '󨌑'; } /* '\e8311' */
